# app config
PORT  # port on which the application will running

# Mongo cloud atlas database configs
DB_URL # MongoDB URL

# Redis config
REDIS_URL #Redis url

# Third party application url\
API_URL # Api url for tmdb

# API Key , Used for authentication
API_KEY # Api key to access the data